body {
    background-color: lightskyblue;
}

#container {
    position: relative;
    top: 20px;
    margin: auto;
    height: 600px;
    width: 600px;
    border: 3px solid black;
}

.unit {
    float: left;
    background-color: white;
    display: table-row;
}

h1 {
    text-align: center;
    position: relative;
    top: 5px;
    font-size: 20px;
}

#reset {
    position: absolute;
    top: 20px;
    width: 100px;
    height: 10px;
    left: 30%;
    transform: translate(-50px, -10px);
}

#randomColor {
    position: absolute;
    top: 20px;
    width: 100px;
    height: 10px;
    left: 69%;
    transform: translate(-50px, -10px);
}

button {
    position: relative;
    left: 10%;
}

.hoverBlack {
    background-color: black;
}

.hoverRandom {

}