#container {
    position: relative;
    top: 10px;
    margin: auto;
    height: 600px;
    width: 600px;
    border: 2px solid black;
}

.unit {
    float: left;
    background-color: white;
    display: table-row;
}

h1 {
    text-align: center;
}

#reset {
    position: relative;
    width: 100px;
    height: 10px;
    left: 50%;
    transform: translate(-50px, -10px);
}

button {
    position: relative;
    left: 10%;
}

.hover {
    background-color: black;
}